@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<h3>Cifrado Zig Zag</h3>
@Html.ActionLink("Encriptacion Zig Zag", "CifradoZigZag", "Encriptacion")
<h3>Cifrado en espiral</h3>
@Html.ActionLink("Encriptacion Espiral", "CifradoEspiral", "Encriptacion")
<h3>Cifrado Cesar</h3>
@Html.ActionLink("Encriptacion Cesar", "CifradoCesar", "Encriptacion")
<h3>Cifrado S-DES</h3>
@Html.ActionLink("Encriptacion S-DES", "CifradoSDES", "Encriptacion")
<h3>Cifrado RSA</h3>
@Html.ActionLink("Encriptacion RSA", "CifradoRSA", "Encriptacion")